.form{
  display: block;

  margin-bottom: 20px;
}

.form-group {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}

.form-control{
  display: block;
  width: 100%;
  padding: 10px;

  background-color: $light-color;

  border: 1px solid $base-color;
  border-bottom: 2px solid $base-color2;

  outline: none;
  transition: background 0.3s;
}

.form-control:focus{
  background-color: #fff;
}

.form-label{
  display: block;
  width: 100%;
  margin-bottom: 10px;

  font-weight: bold;
  font-size: 16px;
}
