.posts{
  position: relative;
  background-color: #fff;
  display: block;
  margin-bottom: 20px;

  overflow: hidden;

  border-radius: 2px;
}

.posts__thumb{
  width: 100%;
}

.post__content{
  margin: 20px 10px;

  line-height: 1.5em;
  font-size: 16px;
}

.posts__title{
  position: absolute;
  opacity: 0.9;
  font-weight: bold;
  top: 0;
  left: 0;
}

.posts .btn{
  display: block;
  float: none;
  width: 100%;
  margin: 0;
}