.text-light{ font-weight: lighter; }
.text-normal{ font-weight: normal; }
.text-bold{ font-weight: bold; }

.text-success{  color: $success-color;  }
.text-danger{  color: $danger-color;  }
.text-warning{  color: $warning-color;  }
.text-info{  color: $info-color;  }