@import url('https://fonts.googleapis.com/css?family=Cabin+Condensed:400,500,600,700');

*{
    box-sizing: border-box;
}

html, body{
    line-height: 1.5em;
    font-size: 16px;
    font-family: 'Cabin Condensed', sans-serif;
}

a{
  text-decoration: none;
  font-weight: bold;
  color: #ee7757;
}

.left{
    float: left;
}

.right{
    float: right;
}

.text-bold{
    font-weight: bold;
}

.text-danger{
    color: #ee7757;
}

.text-success{
    color: #3FC380;
}

.icon-vote{
    display: block;
    width: 25px;
    height: 20px;

    margin-right: 15px;

    background-image: url("/root/img/icons/trophy.svg");
    background-repeat: no-repeat;
}

.icon-server{
    display: block;
    width: 25px;
    height: 20px;

    margin-right: 15px;

    background-image: url("/root/img/icons/game.svg");
    background-repeat: no-repeat;
}

.icon-read{
    display: block;
    width: 25px;
    height: 20px;

    margin-right: 15px;
    margin-top: 2px;

    background-image: url("/root/img/icons/reading.svg");
    background-repeat: no-repeat;
}

/*
 * HEADER
*/


/******************* TOP-BAR *******************/
.top-bar{
  display: block;
  width: 100%;
  height: 125px;

  background-color: #333C45;

  line-height: 125px;
}

.top-bar__title{
  float: left;

  font-size: 35px;
}

.top-bar__desc{
    position: relative;

    left: -40px;
    padding: 10px 40px 10px 20px;

    border: 2px solid #ee7757;
    border-radius: 10px;

    color: #fff;
    letter-spacing: 1px;

    transition: color 0.3s;
}

.top-bar__desc:hover{
    color: #ee7757;
}

.top-bar__desc::after{
    content: ' ';

    position: absolute;
    top: 10px;
    right: 15px;

    width: 20px;
    height: 20px;

    background-image: url("/root/img/icons/cart.svg");
}


/******************* NAVBAR *******************/
.navbar{
    display: block;
    width: 100%;
    height: 50px;

    margin-bottom: 20px;

    background-color: #ee7757;

    line-height: 50px;
    color: #fff;
}

.navbar__menu ul li{
    float: left;
}

.navbar__menu ul li a{
    display: block;
    padding: 0px 20px;

    font-size: 19px;
    line-height: 50px;
    letter-spacing: 1px;
    color: #fff;

    transition: background-color 0.3s;
}

.navbar__menu ul li a:hover{
    background-color: #242b33;
}

.slideshow{
    position: relative;
    display: block;
    width: 100%;
    height: 400px;

    -webkit-box-shadow: inset 0px 0px 71px -18px rgba(51,60,69,1);
    -moz-box-shadow: inset 0px 0px 71px -18px rgba(51,60,69,1);
    box-shadow: inset 0px 0px 71px -18px rgba(51,60,69,1);

    margin-bottom: 20px;
}

.slideshow__thumb{
    width: 100%;
    height: 400px;
}

.slideshow__slogan{
    position: absolute;
    display: block;

    top: 40px;
    padding: 20px 35px;

    background-color: rgba(0, 0, 0, 0.3);

    color: #fff;
    font-size: 20px;
    font-weight: bold;
}



.sidebar{
    position: relative;
    display: block;
    width: 100%;
    margin-bottom: 20px;
}

.sidebar__title{
    padding: 10px 20px;
    background-color: #333C45;

    font-weight: bold;
    letter-spacing: 1px;
    font-size: 19px;
    color: #fff;
}

.sidebar__content{
    padding: 10px 20px;
}

.vote-link{
    padding: 10px 0;

    letter-spacing: 1px;
    border-bottom: 2px solid #ee7757;
}




/*
 * POSTS
 */
.post:last-child{
    margin-left: 1.5%;
}
.post{
    display: block;
    float: left;
    width: 32.333%;

    background-color: #f2f2f2;
}
.post:nth-child(2){
    margin-right: 1.5%;
}

.post__title{
    display: block;
    width: 100%;

    padding: 10px 20px;

    background-color: #333C45;

    font-size: 18px;
    letter-spacing: 1px;
    font-weight: bold;
    color: #fff;
}

.post__content{
    padding: 10px 20px;
    color: rgba(0, 0, 0, 0.5);
}

.post__link{
    display: block;
    width: 100%;

    padding: 10px 20px;

    background-color: #ee7757;

    font-weight: bold;
    letter-spacing: 1px;
    font-size: 20px;
    color: #fff;
}



.form-group input[type="text"] {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;

    border: none;
    border-bottom: solid 2px #c9c9c9;

    outline: none;

    font-size: 19px;
    color: #333C45;

    transition: border 0.3s;
}

.form-group input[type="text"]:hover,
.form-group input[type="text"].hover {
    border-bottom: solid 2px #969696;
}

.form-group input[type="text"]:focus,
.form-group input[type="text"].focus {
    border-bottom: solid 2px #333C45;
}

.form-group .form-label{
    display: block;
    margin-top: 20px;
    font-weight: bold;
    font-size: 20px;
    color: #333C45;
}

.btn{
    display: block;
    width: 100%;
    padding: 10px 20px;
    margin: 10px 0;

    background-color: #ee7757;

    border: none;

    cursor: pointer;

    font-weight: bold;
    color: #fff;
    letter-spacing: 1px;
    font-size: 20px;
}

/*
 * MEDIA SCREEN
 */

@media screen and (max-width: 940px) {
    .container{ width: 100%; }
    .top-bar{ display: none; }
}